  <div class="clr-row">

    <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-12">
      <div class="card ">
        <h3 class="card-header">Select</h3>
        <div class="card-block" style="padding-top: 0px;">
          <div>
            <clr-select-container >
              <label>I've got some options</label>
              <select clrSelect [(ngModel)]="selectedUser" aria-placeholder="Select a user" style="width:200px">
                @for(user of users; track user.name) {
                  <option [ngValue]="user">{{user.name}}</option>
                }
              </select>
            </clr-select-container>

            <clr-combobox-container>
              <label>Favorite customers</label>
              <clr-combobox [(ngModel)]="selection" clrMulti="true">
                <ng-container *clrOptionSelected="let selected">
                  {{selected.name}}
                </ng-container>
                <clr-options>
                  @for(user of users; track user.name) {
                    <clr-option [clrValue]="user">
                      {{ user.name }}
                    </clr-option>
                  }
                </clr-options>
              </clr-combobox>

            </clr-combobox-container>
          </div>
        </div>
        <div class="card-block">
          You selected: <span cds-text="semibold" class="display-inline">{{selectedUser && selectedUser.name}}</span>
        </div>
        <div class="card-block">
          Selection: <span cds-text="semibold" class="display-inline">{{selection | json}}</span>
        </div>
      </div>
    </div>

    <div class="clr-col-sm-6 clr-col-md-6 clr-col-lg-4 clr-col-12 ">
      <div class="card">
        <div class="card-header">SignPost</div>
        <div class="card-block">
          <clr-signpost>
            <button class="btn btn-link btn-icon" clrSignpostTrigger>
              <cds-icon shape="user" class="is-solid has-badge-info"></cds-icon>
              Signpost Link
            </button>
            <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>Lorem ipsum...</clr-signpost-content>
          </clr-signpost>
          |
          <clr-signpost>
            <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>
              <h3 cds-text="messge semibold">Inline Signpost</h3>
              <p>It's just show inline <span cds-text="semibold code">info icon</span> for signpost, without any trigger controls, Lorem ipsum...</p>
            </clr-signpost-content>
          </clr-signpost>

          <div class="alert alert-info alert-sm" role="alert">
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
                  </div>
                  <div class="alert-text"><span cds-text="semibold uppercase" style="color:var(--cds-alias-status-alt-tint)">[This is a Alert sample].</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                  <div class="alert-actions">
                    <a href="#" class="alert-action">Acknowledge</a>
                  </div>
                </div>
                <button type="button" class="close" aria-label="Close">
                  <cds-icon aria-hidden="true" shape="close"></cds-icon>
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
      <div class="card ">
        <h3 class="card-header">Head</h3>
        <div class="card-block" style="padding-top:8px">
          <div cds-text="semibold">search:{{search}}</div>
          <clr-datagrid class="datagrid-compact" 
            [(clrDgSelected)]="selection"
            [clrDgRowSelection]="true">
            <clr-dg-column cds-text="uppercase" [clrDgField]="'name'" [(clrFilterValue)]="search" >Name
              <!-- <clr-dg-string-filter [clrDgStringFilter]="nameFilter" [(clrFilterValue)]="search"></clr-dg-string-filter> -->
            </clr-dg-column>
            <clr-dg-column cds-text="uppercase" [clrDgField]="'email'" [(clrFilterValue)]="search">Email
              <!-- <clr-dg-string-filter [clrDgStringFilter]="emailFilter"></clr-dg-string-filter> -->
            </clr-dg-column>
            <clr-dg-column cds-text="uppercase" style="width:40px">Color</clr-dg-column>

            @for(user of users;track user.name) {
            <clr-dg-row [clrDgItem]="user">
              <clr-dg-cell>{{user.name}}
                
              </clr-dg-cell>
              <clr-dg-cell>{{user.email}}</clr-dg-cell>
              <clr-dg-cell >
                <span class="color-square" [style.backgroundColor]="user.color"></span>
              </clr-dg-cell>

              <clr-dg-row-detail *clrIfExpanded>
                Lorem ipsum...
              </clr-dg-row-detail>
            </clr-dg-row>
            }
          </clr-datagrid>
        </div>
      </div>
    </div>
  </div>
  
